# Django et outils associés
Django
djangorestframework
django-cors-headers
django-filter
django-environ

# Authentification
djangorestframework-simplejwt
drf-yasg

# Tâches asynchrones
celery
redis

# Utilitaires
python-decouple
Pillow
django-storages

# Production
gunicorn
whitenoise